<%= form_with(model: city) do |form| %>
<section class="left full">
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
        <% city.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-container">
    <%= form.label :city_name %>
    <%= form.text_field :city_name %>
  </div>

  <div class="send-containerr">
    <%= form.submit %>
  </div>
<% end %>
</section>

<%= render 'partials/js_partial' %>